# requirements to be appended to requirements-kg2-build.txt
# for correcting or amending the python build requirements

# markupsafe > v2.0.1 appears to cause errors on install as a dependency of Jinja and bmt
markupsafe==2.0.1

# begin kg2 python requirements here
